<section class="white" style="margin-top: -7px;">
    <div class="banner-about">
        <div class="container">
            <div class="row white-text">
                <div class="col s12 m4 l4" data-aos="fade-up" data-aos-delay="300">
                    <!-- <img src="assets/autor.png" style="object-fit: cover; height: auto; width: 100%;" alt=""> -->
                </div>
    
                <div class="col s12 m6 l6  offset-m1 offset-l1" data-aos="fade-up" data-aos-delay="400">
                    <h3 class="negrito blue-text text-lighten-3">Sobre mim</h3>
                    <div class="borda-titulo-0"></div>
                    <div class="texto-2 grey-text text-darken-2">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus odio laudantium optio eaque!
                            Vitae, neque, quisquam id itaque provident unde harum consequuntur ducimus ad error eveniet!
                            Consequatur tempore ullam ex.
                        </p>
    
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, neque culpa. Aperiam, sit
                            quisquam architecto eos tempora soluta officia quia in, dolorum, omnis ut ullam vitae tempore
                            porro labore nesciunt!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#80c6ff" fill-opacity="1"
                d="M0,288L34.3,261.3C68.6,235,137,181,206,181.3C274.3,181,343,235,411,240C480,245,549,203,617,176C685.7,149,754,139,823,117.3C891.4,96,960,64,1029,85.3C1097.1,107,1166,181,1234,224C1302.9,267,1371,277,1406,282.7L1440,288L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
            </path>
        </svg>
    </div>
</section>