<div class="">
    <nav class="white z-depth-0" data-aos="fade-up" data-aos-delay="200">
        <div class="container nav-wrapper">
            <a routerLink="" class="brand-logo blue-text negrito text-lighten-2">Meu portfólio</a>
            <a href data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul routerLinkActive="active" class="right hide-on-med-and-down">
                <li><a class="grey-text text-darken-1 negrito" routerLink="/"><span class="fa fa-home"></span> Início</a></li>
                <li><a class="grey-text text-darken-1 negrito" routerLink="/sobre"><span class="fa fa-info"></span> Sobre mim</a></li>
                <li><a class="grey-text text-darken-1 negrito" routerLink="/projectos"><span class="fa fa-bookmark"></span> Projectos</a></li>
                <!-- <li><a class="grey-text text-darken-1 negrito" routerLink=""><span class="fa fa-heart"></span> Habilidades</a></li> -->
                <li><a class="grey-text text-darken-1 negrito" routerLink="/blog"><span class="fa fa-newspaper"></span> Blog</a></li>
                <li><a routerLink="/contacto" class="btn negrito z-depth-0 blue white-text text-darken-4"><span class="fa fa-envelope"></span> Contacte</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="">Início</a></li>
    <li><a routerLink="/sobre">Sobre mim</a></li>
    <li><a routerLink="/sobre">Projectos</a></li>
    <!-- <li><a routerLink="/sobre">Habilidades</a></li> -->
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contacto" class="btn white blue-grey-text text-darken-4">Contacte</a></li>
</ul>