.social-box{
    border: 1px solid #d1eaff;
    border-radius: 10px;
    box-shadow:  none !important;
}

.social-box:hover{
    background-color: d1eaff !important;
    color: #2c2c2c !important;
    box-shadow: 2px 1px 2px #d1eaffdd;
}