<section class="espaco-p-0" id="footer" data-aos="fade-up" data-aos-delay="200">
    <div class="row container">
        <div class="col s12">
            <div class="espaco-p-0 footer-copyright">
                <span class="grey-text text-darken-3">© {{dataActual}}, Anilésio Xavier</span>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 transparent" target="_blank" href="https://www.linkedin.com/in/anil%C3%A9sio-xavier-4a0ba7195/">Linkedin</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 transparent" target="_blank" href="https://github.com/anilesio/">Github</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 transparent" target="_blank" href="mailto:anilesio08@gmail.com">Gmail</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 transparent" target="_blank" href="live:.cid.5f64a0c097ec45dd">Skype</a>
            </div>
        </div>
    </div>
</section>