<section class="blog-fundo espaco-p-baixo-1" style="margin-top: -9px;">
  <div class="container">

    <div class="row">
      <div class="col s12 m12 l12" data-aos="fade-up" data-aos-delay="300">
        <div class="">
          <h4 class="negrito">Blog</h4>
          <div class="borda-titulo-0"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l4 espaco-m-top-1" data-aos="fade-up" data-aos-delay="400">
        <div class="card blue-text lighten-3 z-depth-0 borda-1">
          <div class="card-image">
            <img src="assets/news-image.png">
            <!-- <span class="card-title">Card Title</span> -->
          </div>
          <div class="card-content">
            <span class="card-title texto-2 blue-text text-lighten-2">Card Title</span>
            <hr>
            <p class="blue-text text-lighten-3">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action right-align">
            <a routerLink="/blog-content/1" routerLinkActive="router-link-active"  class="btn transparent z-depth-0 white blue-text btn-large borda">Ver mais <span class="fa fa-chevron-circle-right"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col s12" data-aos="fade-up" data-aos-delay="500">
          <a href="" class="btn z-depth-0 btn-large blue lighten-4 negrito white-text">Ver todos</a>
        </div>
    </div>
  </div>
</section>